version: '3.8'

services:
  zrok:
    image: openziti/zrok:latest
    restart: unless-stopped
    user: "1000:1000"
    environment:
      # Твой токен: zLA2GSWLZekX
      - ZROK_TOKEN=${ZROK_TOKEN}
    volumes:
      - zrok_data:/home/zrok/.zrok
    # Мы заставляем контейнер сначала выполнить 'enable', а потом 'share'
    entrypoint: [ "sh", "-c" ]
    command: 
      - |
        zrok enable ${ZROK_TOKEN} || true;
        zrok share public https://192.168.1.107:9443 --backend-mode web --insecure

volumes:
  zrok_data:
