version: '3.8'

services:
  localtonet:
    image: localtonet/localtonet:latest
    container_name: localtonet
    restart: unless-stopped
    # Используем сетевой режим хоста для лучшей связи
    network_mode: host
    # Передаем токен напрямую команде запуска
    command: ["RtG1H36XuiaxfsBqZoNvJ4eCVL75dwKOm"]
    
