version: '3.8'

services:
  zrok:
    image: openziti/zrok:latest
    restart: unless-stopped
    user: "1000:1000"
    volumes:
      - zrok_data:/home/zrok/.zrok
    # Мы используем прямой вызов оболочки, чтобы команды шли друг за другом
    entrypoint: [ "/bin/sh", "-c" ]
    command: 
      - |
        zrok enable --headless zLA2GSWLZekX && 
        zrok share public https://192.168.1.107:9443 --backend-mode web --insecure

volumes:
  zrok_data:
