version: '3.8'

services:
  zrok:
    image: openziti/zrok:latest
    restart: unless-stopped
    user: "1000:1000" # Рекомендуется для работы с правами внутри контейнера
    environment:
      # Твой токен из скриншота
      - ZROK_ENABLE_TOKEN=${ZROK_TOKEN}
    volumes:
      # Нужно для хранения идентификатора zrok, чтобы он не пропадал
      - zrok_storage:/home/zrok/.zrok
    command: 
      - "share"
      - "public"
      - "https://192.168.1.107:9443"
      - "--backend-mode"
      - "web"
      - "--insecure" # Игнорируем самоподписанный SSL сертификат Portainer

volumes:
  zrok_storage:
