version: '3.8'
services:
  ngrok:
    image: ngrok/ngrok:latest
    restart: unless-stopped
    environment:
      - NGROK_AUTHTOKEN=${NGROK_AUTHTOKEN}
    command:
      # Обратите внимание на https:// перед переменной
      - "http"
      - "https://${PORTAINER_ADDRESS}"
