version: '3.8'
services:
  ngrok:
    image: ngrok/ngrok:latest
    restart: unless-stopped
    environment:
      - NGROK_AUTHTOKEN=${NGROK_AUTHTOKEN}
    command:
      - "http"
      # Указываем протокол прямо в адресе, но без лишних флагов
      - "https://${PORTAINER_ADDRESS}" 
