version: '3.8'
services:
  ngrok:
    image: ngrok/ngrok:latest
    restart: unless-stopped
    environment:
      - NGROK_AUTHTOKEN=${NGROK_AUTHTOKEN}
    command:
      - "http"
      - "${PORTAINER_ADDRESS}" # Здесь должен быть только IP:PORT (например, 192.168.1.107:9443)
      - "--scheme=https"       # Указываем ngrok, что на стороне Portainer используется HTTPS
      - "--host-header=rewrite" # Это поможет избежать проблем с перенаправлением
