version: '3.8'

services:
  localtonet:
    image: localtonet/localtonet:latest
    container_name: localtonet
    restart: unless-stopped
    environment:
      - AUTHTOKEN=RtG1H36XuiaxfsBqZoNvJ4eCVL75dwKOm
