version: '3.8'

services:
  localtonet:
    image: localtonet/localtonet:latest
    container_name: localtonet
    restart: unless-stopped
    # Обязательно добавляем tty, чтобы клиент не "зависал" в ожидании ввода
    tty: true
    stdin_open: true
    network_mode: host
    # Важно: сначала 'authtoken', потом сам ключ
    command: authtoken RtG1H36XuiaxfsBqZoNvJ4eCVL75dwKOm
    
